.navbar {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    margin-left: 55px;
    font-size: 17px;
    font-weight: 500;
    color: #007bff;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}